
/*
Location通用項目
*/
.select-style{
    label{
        font-size: 24px;
        line-height: 30px;
        margin-right: 20px;
    }
}
.storeitem{
    border: 1px solid #CED4DA;
    width: 30%;
    padding: 8px 0 11px 19px;
    line-height: 26px;
    font-size: 18px;
}
.store-list{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 160px;
}
.store-item{
    width: 30%;
    margin: 32px 32px 0 0;
    h3{
        line-height: 36px;
        font-size: 24px;
        padding: 12px 0 12px 24px;
        border: 1px solid #00000020;
    }
}
.storecube{
    height: 224px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.store-info{
    border: 1px solid #00000020;
    li{
        line-height: 30px;
        font-size: 20px;
        margin: 8px 8px;
        img{
            height: 18px;
        }
        a{
            text-decoration: none;
            color: #000;
            &:hover{
                color: #CED4DA;
            }
        }
    }
}
.storelink{
    display: block;
    color: #fff;
    background: #000;
    display: block;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    line-height: 27px;
    font-size: 19px;
    &:hover{
        color: #CED4DA;
    }
}
@media (max-width:992px) {
    .select-style{
        label{
            font-size: 16px;
        }
    }
    .storeitem{
        line-height: 24px;
        font-size: 16px;
        margin-bottom: 24px;
    }
    .store-item{
        width: 45%;
        margin: 0 2.7% 2.7% 0;
        h3{
            line-height: 24px;
            font-size: 16px;
            padding: 8px 0 8px 24px;
        }
    }
    .store-info{
        li{
            line-height: 21px;
            font-size: 14px;
            img{
                height: 15px;
            }
        }
    }
    .storelink{
        font-size: 14px;
        line-height: 21px;
        padding: 15.5px 0;
    }
    .storecube{
        height: 164px;
    }
}
@media (max-width:767px) {
    .select-style{
        label{
            font-size: 14px;
        }
    }
    .storeitem{
        line-height: 24px;
        font-size: 16px;
        margin-bottom: 24px;
    }
    .store-item{
        width: 90%;
        margin: 0 2.7% 2.7% 0;
        h3{
            padding: 8px 0 8px 24px;
        }
    }
    .storecube{
        height: 164px;
    }
}
/*
 單店細節部分
*/
.storesheet{
    display: flex;
}