@import "pagegeneral";

$blogtheme:#650300;
$blogtheme-gray:#555555;


/*
    BLOG PC VER
*/
.blog-list{
    margin-bottom: 96px;
}
.blog-item{
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}
.eng{
    display: block;
    font-size: 20px;
    line-height: 30px;
}
.date{
    display: block;
    line-height: 24px;
    color: #00000070;
}
.blog-info{
    padding-left: 30px;
    h3{
        color: $blogtheme;
        line-height: 63px;
        font-size: 32px;
        margin-bottom: 2px;
    }
    div{
        display: flex;
        justify-content: space-between;
    }
    p{
        color: $blogtheme-gray;
        line-height: 30px;
        font-size: 20px;
    }
    a{
        display: block;
        text-align: right;
        text-decoration: none;
        text-transform: uppercase;
        color: $blogtheme;
        font-weight: bold;
        line-height: 54px;
        font-size: 36px;
        &:hover{
            color:$blogtheme-gray;
        }
    }
}
.pager{
    display: flex;
    justify-content: center;
    margin-bottom: 160px;
    li{
        border: 1px $blogtheme-gray solid;
        a{
            color: $blogtheme-gray;
            display: block;
            line-height: 29px;
            font-size: 19px;
            padding: 9.5px 16px;
            text-decoration: none;
        }
    }
}
li.active{
    background: #000;
    a{
        color: #fff;
    }
}
.next-active{
    background: #F2F2F2;
}
@media (max-width:992px) {
    .blog-list{
        margin-bottom: 64px;
    }
    .blog-item{
        margin-bottom: 24px;
        img{
            height: 208px;
        }
    }
    .eng{
        font-size: 16px;
    }
    .date{
        font-size: 14px;
    }
    .blog-info{
        h3{
            font-size: 20px;
            margin-bottom: 0;
        }
        p{
            line-height: 21px;
            font-size: 14px;
        }
        a{
            display: inline;
            text-transform: lowercase;
            color: $blogtheme-gray;
            font-weight: bold;
            line-height: 21px;
            font-size: 14px;
            &:hover{
                color:$blogtheme;
            }
        }
    }
    .pager{
        margin-bottom: 96px;
        li{
            a{
                line-height: 27px;
                font-size: 18px;
                padding: 4.5px 12px;
            }
        }
    }
}
@media (max-width:767px) {
    .blog-list{
        margin-bottom: 50px;
    }
    .blog-item{
        margin-bottom: 24px;
        flex-direction: column;
        img{
            width: 100%;
            height: auto;
        }
    }
    .eng{
        font-size: 14px;
    }
    .blog-info{
        width: 100%;
        padding: 0;
        h3{
            font-size: 16px;
        }
        p{
            display: none;
        }
        a{
            display: inline;
            text-transform: lowercase;
            color: $blogtheme-gray;
            font-weight: bold;
            line-height: 21px;
            font-size: 14px;
            &:hover{
                color:$blogtheme;
            }
        }
    }
}