@import "pagegeneral";

.select-style{
    min-width: 60px;
    label{
        font-size: 24px;
        line-height: 30px;
        margin-right: 20px;
    }
}
.storeitem{
    height: 45px;
    border: 1px solid #CED4DA;
    line-height: 26px;
    font-size: 18px;
    margin-bottom: 32px;
}
.store-list{
    display: flex;
    flex-wrap: wrap;
}
.store-item{
    width: 30%;
    margin: 0 2.7% 2.7% 0;
    h3{
        line-height: 36px;
        font-size: 24px;
        padding: 12px 0 12px 24px;
        border: 1px solid #00000020;
    }
}
.storecube{
    height: 224px;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
.store-info{
    border: 1px solid #00000020;
    li{
        line-height: 30px;
        font-size: 20px;
        margin: 7% 7%;
        img{
            height: 18px;
        }
        a{
            text-decoration: none;
            color: #000;
            &:hover{
                color: #CED4DA;
            }
        }
    }
}
.storelink{
    display: block;
    color: #fff;
    background: #000;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    line-height: 27px;
    font-size: 19px;
    &:hover{
        color: #CED4DA;
    }
}