@import "pagegeneral";
@import "locationbase";
/*
 單店細節部分
*/
.storesheet{
    display: flex;
    justify-content: space-between;
}
.store-list{
    width: 38%;
}
.map{
    width: 60%;
    iframe{
        width: 100%;
        height: 98%;
    }
}
.store-item{
    width: 100%;
}