@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: 'Noto Sans TC','Roboto', sans-serif; }

img {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1111px;
  margin: 0 auto; }

/*
header 區塊 PC版
*/
.header {
  background-color: #AA0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.bannerimg {
  height: 49px;
  width: 100%;
  margin: 30px 0 30px 80px; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-item {
  min-width: 80px;
  margin-right: 80px; }
  .menu-item a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: block;
    line-height: 30px; }
    .menu-item a:hover {
      color: #DEE2E6; }

.menu-item-last {
  margin-right: 88px; }

/*
header 區塊 Tablet版
*/
@media (max-width: 992px) {
  .container {
    width: 92%; }
  .bannerimg {
    margin-left: 39px; }
  .menu-item {
    margin-right: 40px; } }

/*
header 區塊 Mobile版
*/
@media (max-width: 767px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .bannerimg {
    text-align: center;
    margin: 10px auto; }
  .menu {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .menu-item {
    min-width: 50%;
    margin: 0;
    text-align: center;
    height: 45px;
    border: 1px solid #fff; }
    .menu-item a {
      line-height: 45px; } }

/*
footer區塊 PC版
*/
.footer {
  background-color: #AA0601; }

.footerinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #FFF; }

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.footer-menu-item {
  margin-right: 48px; }
  .footer-menu-item a {
    color: #fff;
    text-decoration: none;
    line-height: 24px; }
    .footer-menu-item a:hover {
      color: #DEE2E6; }

.soical {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 32px 0 24px 0; }
  .soical li {
    margin-left: 32px; }

.contactinfo {
  padding-bottom: 21px; }
  .contactinfo li img {
    height: 36px; }
  .contactinfo li a {
    padding-left: 22px;
    color: #fff;
    font-size: 36px;
    line-height: 54px;
    text-decoration: none; }

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .copyright h3 {
    color: #fff;
    line-height: 24px;
    padding: 20px 0 27px 0; }

.copyright-zh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.copyright-zh-item a {
  color: #fff;
  text-decoration: none;
  padding-left: 48px;
  line-height: 21px;
  font-size: 14px; }
  .copyright-zh-item a:hover {
    color: #DEE2E6; }

/*
footer區塊 Tablet版
*/
@media (max-width: 992px) {
  .footer-menu-item {
    margin-right: 40px; }
  .soical-item img {
    height: 24px; }
  .contactinfo {
    padding-bottom: 16px;
    width: 100%; }
    .contactinfo li img {
      height: 18px; }
    .contactinfo li a {
      padding-left: 11px;
      font-size: 20px;
      line-height: 30px; }
  .copyright-zh-item a {
    padding-left: 24px; } }

/*
footer區塊 Mobile版
*/
@media (max-width: 767px) {
  .footerinfo {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
  .footer-menu {
    display: none; }
  .contactinfo {
    width: 59%;
    padding-top: 25px; }
    .contactinfo li a {
      padding: 0 0 0 7.5px;
      font-size: 16px; }
  .soical {
    margin-top: 0; }
    .soical li {
      margin-left: 24px; }
  li.first {
    margin-left: 0; }
  .copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-bottom: 16px; }
    .copyright h3 {
      padding-bottom: 8px; }
  .copyright-zh {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .copyright-zh-item {
    padding: 0 0 8px 0; }
    .copyright-zh-item a {
      padding: 0; } }

/*# sourceMappingURL=all.css.map */
