@charset "UTF-8";
/*
    每頁頁面的Title,或其他會用到的地方
*/
.pageTitle {
  font-size: 48px;
  line-height: 80px;
  padding-left: 16px;
  border-left: 8px solid #9F1213;
  margin: 96px 0 60px 0;
  font-weight: bold; }

@media (max-width: 992px) {
  .pageTitle {
    border-left: 4px solid #9F1213;
    margin: 60px 0 40px 0;
    line-height: 67px; } }

@media (max-width: 767px) {
  .pageTitle {
    font-size: 28px;
    padding-left: 8px;
    line-height: 40px;
    margin: 28px 0 24px 0; } }

/*
    BLOG PC VER
*/
.blog-list {
  margin-bottom: 96px; }

.blog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px; }

.eng {
  display: block;
  font-size: 20px;
  line-height: 30px; }

.date {
  display: block;
  line-height: 24px;
  color: #00000070; }

.blog-info {
  padding-left: 30px; }
  .blog-info h3 {
    color: #650300;
    line-height: 63px;
    font-size: 32px;
    margin-bottom: 2px; }
  .blog-info div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .blog-info p {
    color: #555555;
    line-height: 30px;
    font-size: 20px; }
  .blog-info a {
    display: block;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
    color: #650300;
    font-weight: bold;
    line-height: 54px;
    font-size: 36px; }
    .blog-info a:hover {
      color: #555555; }

.pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 160px; }
  .pager li {
    border: 1px #555555 solid; }
    .pager li a {
      color: #555555;
      display: block;
      line-height: 29px;
      font-size: 19px;
      padding: 9.5px 16px;
      text-decoration: none; }

li.active {
  background: #000; }
  li.active a {
    color: #fff; }

.next-active {
  background: #F2F2F2; }

@media (max-width: 992px) {
  .blog-list {
    margin-bottom: 64px; }
  .blog-item {
    margin-bottom: 24px; }
    .blog-item img {
      height: 208px; }
  .eng {
    font-size: 16px; }
  .date {
    font-size: 14px; }
  .blog-info h3 {
    font-size: 20px;
    margin-bottom: 0; }
  .blog-info p {
    line-height: 21px;
    font-size: 14px; }
  .blog-info a {
    display: inline;
    text-transform: lowercase;
    color: #555555;
    font-weight: bold;
    line-height: 21px;
    font-size: 14px; }
    .blog-info a:hover {
      color: #650300; }
  .pager {
    margin-bottom: 96px; }
    .pager li a {
      line-height: 27px;
      font-size: 18px;
      padding: 4.5px 12px; } }

@media (max-width: 767px) {
  .blog-list {
    margin-bottom: 50px; }
  .blog-item {
    margin-bottom: 24px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .blog-item img {
      width: 100%;
      height: auto; }
  .eng {
    font-size: 14px; }
  .blog-info {
    width: 100%;
    padding: 0; }
    .blog-info h3 {
      font-size: 16px; }
    .blog-info p {
      display: none; }
    .blog-info a {
      display: inline;
      text-transform: lowercase;
      color: #555555;
      font-weight: bold;
      line-height: 21px;
      font-size: 14px; }
      .blog-info a:hover {
        color: #650300; } }

/*# sourceMappingURL=blog.css.map */
